<nav class="navbar navbar-default navbar-fixed-side">
            <div class="container">
              <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Bonjour Admin</a>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <!-- compte admin -->
                       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Compte Admin <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li>  <a type="submit" href="/logout" ><i class="fa fa-sign-out" aria-hidden="true"></i>  Déconnexion</button></li>
                           <li>  <a type="submit" href="/" ><i class="fa  fa-home" aria-hidden="true"></i>  Accueil du site</button></li>
                           <li>  <a type="submit" href="/market" ><i class="fa   fa-shopping-cart" aria-hidden="true"></i>  Market</button></li>
                           </ul>
                       </li>
                       <!-- utilisateurs -->
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Users <b class="caret"></b></a>
                       <ul class="dropdown-menu"><li>  <a type="submit" href="#" ><i class="fa fa-users" aria-hidden="true"></i>  Liste utilisateurs</button></li></ul>
                       </li>
                       <!-- produit -->
                       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Produits <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                           <li>  <a type="submit" href="/admin/products" ><i class="fa fa-inbox" aria-hidden="true"></i>  Liste des produits</button></li>
                            <li>  <a type="submit" href="/admin/create/product" ><i class="fa fa-plus-square" aria-hidden="true"></i> Créer un produit</button></li>
                           
                       </ul>
                       </li>
                       <!-- Kits -->
                       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kits <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>  <a type="submit" href="/admin/kits" ><i class="fa fa-inbox" aria-hidden="true"></i>  Liste des kits</button></li>
                            <li>  <a type="submit" href="/admin/create/kit" ><i class="fa fa-plus-square" aria-hidden="true"></i> Créer un kit</button></li>
                           
                       </ul>
                       </li>
                       <!-- NewsLetter -->
                       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">News Letter <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>  <a type="submit" href="/admin/news-letter" ><i class="fa fa-inbox" aria-hidden="true"></i>  Liste des email</button></li>
                            <li>  <a type="submit" href="https://us14.admin.mailchimp.com" target="_blank" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer un email</button></li>
                           
                       </ul>
                       </li>
                       <!-- blog -->
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>  <a type="submit" href="#" ><i class="fa fa-inbox" aria-hidden="true"></i>  Articles </button></li>
                            <li> <a type="submit" href="/admin/blog/post/add" ><i class="fa fa-file-o" aria-hidden="true"></i> Créer un article</button></li>
                           
                       </ul>
                       </li>
                       <!-- autres -->
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Autres <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li>  <a type="submit" href="https://www.facebook.com/homii.energie/" target="_blank" ><i class="fa fa-facebook-official" aria-hidden="true"></i>  Facebook</button></li>
                       </ul>
                       </li>
                       
                  </ul>
              </div>
              
              {#
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="./">Left (Default Theme)</a>
                  </li>
                  <li class="">
                    <a href="inverse.html">Right (Inverse Theme)</a>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="#">Sub-page 1</a></li>
                  <li><a href="#">Sub-page 2</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Dropdown Header</li>
                  <li><a href="#">Sub-page 3</a></li>
                  </ul></li>
                </ul>
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input class="form-control" placeholder="Search">
                  </div>
                  <button class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Page 4</a></li>
                </ul>
                <button class="btn btn-default navbar-btn">Button</button>
                <p class="navbar-text">
                  Made by
                  <a href="http://www.samrayner.com">Sam Rayner</a>
                </p>
              </div>#}
            </div>
          </nav>