{% extends "base/base_home.twig" %}
{% block header_class %} scroll-nav-bot {% endblock %}
{% block main %}
<section>
<h1 style="color: black;">Page introuvable retourner sur la page d'<a href="/home">accueil </a> .</h1>
</section>
{% endblock  %}