{% extends "admin/base.twig" %}

{% block title_page %}
 <h1> <i class="fa fa-home" aria-hidden="true"></i> Accueil </h1>
{% endblock %}

{% block body %}


{% endblock body %}

{% block javascript %}
    {{ parent() }}
    <script src="js/index.module.js" type="text/javascript" ></script> 
{% endblock javascript %}

