<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homii- Contact et assistance</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style_contact.min.css">
        <link rel="stylesheet" href="/css/contact.min.css">
       <!-- <link rel="stylesheet" href="css/reglement.css">
        <link rel="stylesheet" href="css/blog.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/media-queries.css">-->
		
        <!-- Favicon  -->
        <link rel="shortcut icon" href="/images/favicon.png">
        
            {% include "google/analytic.twig" %}
        <script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>

    </head>
    <body>
    <div class="header">
		<a class="logo" href="/home">
			<img src="/images/logo-w.png" height="100" alt="logo">
		</a>
<!--         <ul>
            <li>biloute</li>
            <li>biloute</li>
            <li>biloute</li>
            <li>biloute</li>
        </ul> -->
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://www.facebook.com/homii.energie/" target="_blank"><img src="images/fb-w.png" alt=""></a></li>
			<li><a href="https://twitter.com/Homii_Energie" target="_blank"><img src="images/tt-w.png" alt=""></a></li>
		</ul>
	</div>
  	<section id="contact">
	        <div class="container">
	            <div class="row row-green">
	                <div class="col-sm-12">
	                    <h2>Contact & assistance</h2>
	                    <hr class="sep"></hr>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-4">
						<span class="cercle" data="faq">FAQ</span>
						<span>Découvrez notre Foire Aux Questions</span>
					</div>
	            	<div class="col-sm-4">
						<span class="cercle" data="mail"><img src="/images/icon-mail.png" style="width: 40px;" alt=""></span>
						<span>Contactez nous par mail</span>
					</div>
	            	<div class="col-sm-4">
						<span class="cercle" data="tel"><img src="/images/icon-phone.png" style="width: 40px;" alt=""></span>
						<span>Contactez nous par téléphone</span>
					</div>
	            </div>
	            <br><br><br>
	            <div class="row">
	            	<div class="col-sm-12 faq list">
						<div class="col-md-6">
							<div class="contentToogle">
								<p class="linkToogle">Puis-je commander à l’avance pour mes vacances ou mon prochain week-end à une autre adresse que mon domicile habituel ?<span class="glyphicon glyphicon-menu-down"></span></p>
								<p class="listToogle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo inventore minus deleniti neque, animi totam, dolorem enim maiores repellat sequi maxime repudiandae, qui cum dolore velit eos voluptate itaque.</p>
							</div>
							<div class="contentToogle">
								<p class="linkToogle">Puis-je suivre ma commande via le site ?<span class="glyphicon glyphicon-menu-down"></span></p>
								<p class="listToogle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo inventore minus deleniti neque, animi totam, dolorem enim maiores repellat sequi maxime repudiandae, qui cum dolore velit eos voluptate itaque.</p>
							</div>
							<div class="contentToogle">
								<p class="linkToogle">Il y a un problème avec ma commande, que dois-je faire ?<span class="glyphicon glyphicon-menu-down"></span></p>
								<p class="listToogle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo inventore minus deleniti neque, animi totam, dolorem enim maiores repellat sequi maxime repudiandae, qui cum dolore velit eos voluptate itaque.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contentToogle">
								<p class="linkToogle">Puis-je commander à l’avance pour mes vacances ou mon prochain week-end à une autre adresse que mon domicile habituel ?<span class="glyphicon glyphicon-menu-down"></span></p>
								<p class="listToogle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo inventore minus deleniti neque, animi totam, dolorem enim maiores repellat sequi maxime repudiandae, qui cum dolore velit eos voluptate itaque.</p>
							</div>
							<div class="contentToogle">
								<p class="linkToogle">Puis-je suivre ma commande via le site ?<span class="glyphicon glyphicon-menu-down"></span></p>
								<p class="listToogle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo inventore minus deleniti neque, animi totam, dolorem enim maiores repellat sequi maxime repudiandae, qui cum dolore velit eos voluptate itaque.</p>
							</div>
							<div class="contentToogle">
								<p class="linkToogle">Il y a un problème avec ma commande, que dois-je faire ?<span class="glyphicon glyphicon-menu-down"></span></p>
								<p class="listToogle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, explicabo inventore minus deleniti neque, animi totam, dolorem enim maiores repellat sequi maxime repudiandae, qui cum dolore velit eos voluptate itaque.</p>
							</div>
						</div>
	            	</div>
	            	

	            	<div class="col-sm-4 col-sm-offset-4 mail list">
	            		<input type="text" placeholder="nom">
	            		<input type="text" placeholder="mail">
	            		<textarea placeholder="message"></textarea>
	            		<button type="submit" class="btn send">envoyer</button>
	            	</div>


	            	<div class="col-sm-12 tel list">
	            		<span>Une question ?</span><br><span>Nous serons ravis de pouvoir y répondre !</span><br><br><h2>01 46 00 00 00</h2>
	            	</div>
	            </div>
	        </div>
  	</section>
  	
  	
  		
	<footer>
		<a class="logo" href="#">
			<img src="/images/logo.png" height="100" alt="logo">
		</a>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><img src="/images/fb.png" alt=""></a></li>
			<li><a href="#"><img src="/images/tt.png" alt=""></a></li>
			<li><a href="#"><img src="/images/ig.png" alt=""></a></li>
		</ul>
	</footer>
        <!-- Javascript -->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main_contact.min.js"></script>

    </body>
</html>