{% extends "base/base.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/admin.css">
{% endblock stylesheets %}


{% block body %}

<h1> <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajout d'un produit </h1>
<div class="row">
    {% include "forms/addProduct.twig" %}
    
</div>

{% endblock %}