{% extends "base/base.twig" %}
{% block main %}
    <section id="banner">
    	<div class="banner-title">
			<h1>Transformez votre chaleur en énergie </h1>
			<div class="sep"></div>
	  		<p class="banner-txt">La borne thermoélectrique Homii est une innovation qui permet de capter la chaleur pour la transformer en électricité.</p>
	  		
	  	</div>
    	<video  autoplay loop muted>
		     <source src="videos/landing.mov">
			Your browser does not support the video tag.
		</video>
    </section>

  	
  	<section id="description">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 ">
					  <a href="/home">		<button class="website">Découvrir la borne Homii</button> </a>
                    </div>
	            </div>
	        </div>
  	</section>
  	<section id="newsletter">
        <!-- Top content -->
        <div class="top-content">
        	<div class="container">
				<div class="row">
					<div class="col-sm-6 text">&nbsp;
						{#<div class="logo-left">
							<img src="/images/logo.png" alt="" width="150">
						</div>#}
					</div>
					<div class="col-sm-6 text">
						<img src="/images/logo.png" alt="" width="150">
						<div class="">&nbsp;</div>
						<h3 class="">Suivez-nous</h3>
						<div class="sep"></div>
						<div class="description wow fadeInLeftBig">
							<p>
								Homii est une innovation de pointe validée par des experts.<br> 
								Notre prototype est prêt à l’emploi ! Nos ingénieurs travaillent chaque jour à optimiser ses fonctionnalités. <br>
								Envie de suivre l’aventure ?

							</p>
							<h3 class=" low">Abonnez-vous à notre newsletter !</h3>
						</div>
						<div class="subscribe wow fadeInUp">
               			{% include "forms/newsLetter.twig"  %}
	                    <div class="success-message"></div>
	                    <div class="error-message"></div>
					</div>
					</div>
				</div>
            </div>
        </div>
	</section>
	
{% endblock main %}