<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homii</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/media-queries.css">
		
        <!-- Favicon  -->
        <link rel="shortcut icon" href="/images/favicon.png">

        <script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>

    </head>
    <body>
    <div class="header">
		<a class="logo" href="/">
			<img src="/images/logo-w.png" height="100" alt="logo">
		</a>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://www.facebook.com/homii.energie/" target="_blank"><img src="/images/fb-w.png" alt=""></a></li>
			<li><a href="https://twitter.com/Homii_Energie" target="_blank"><img src="/images/tt-w.png" alt=""></a></li>
		</ul>
	</div>
    <section id="banner">
    	<div class="banner-title">
			<h1>Marre de payer vos factures d'énergie ?</h1>
			<div class="sep"></div>
	  		<p class="banner-txt">Homii vous propose des solutions écologiques pour produire votre énergie à la maison.</p>
	  		
	  	</div>
    	<video  autoplay loop>
			<source src="/videos/landing.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
    </section>

  	
  	<section id="description">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 ">
					  		<button class="website">Rendez-vous sur notre site</button>
                    </div>
	            </div>
	        </div>
  	</section>
  	<section id="newsletter">
        <!-- Top content -->
        <div class="top-content">
        	<div class="container">
				<div class="row">
					<div class="col-sm-5 text">
						<div class="logo-left">
							<img src="/images/logo.png" alt="" width="150">
						</div>
					</div>
					<div class="col-sm-7 text">
						<h3 class="white">Suivez-nous</h3>
						<div class="sep"></div>
						<div class="description wow fadeInLeftBig">
							<p>
								La mission de Homii ? <br>Démocratiser des solutions alternatives pour <br>consommer son énergie autrement.<br>Devenir autonome en énergie, c'est possible et nous <br> comptons bien vous le prouver !
							</p>
							<h3 class="white low">Abonnez-vous à notre newsletter !</h3>
						</div>
						<div class="subscribe wow fadeInUp">
               			{% include "forms/newsLetter.twig"  %}
	                    <div class="success-message"></div>
	                    <div class="error-message"></div>
					</div>
					</div>
				</div>
            </div>
        </div>
	</section>
	<footer>
		<a class="logo" href="/">
			<img src="/images/logo.png" height="100" alt="logo">
		</a>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://www.facebook.com/homii.energie/" target="_blank"><img src="/images/fb.png" alt=""></a></li>
			<li><a href="https://twitter.com/Homii_Energie" target="_blank"><img src="/images/tt.png" alt=""></a></li>
		</ul>
	</footer>
        <!-- Javascript -->
        {% include "google/analytic.twig" %}
        <script src="/js/bootstrap.min.js"></script>

    </body>
</html>