{% extends "base/base_home.twig" %}

    {% block header %}
    	{% include "base/home_header_black.twig" %}
    {% endblock %}
    
    {% block stylesheet %}
     <link rel="stylesheet" href="/css/style_login.css">
{% endblock stylesheet %}
    
{% block main %}
<section class="container">
<h1> Partitionjs Framework</h1>

{% if flashMessage|length > 0 %}<div class="notification"> {% for message in flashMessage %} <p> {{message}}  </p> {% endfor %} </div>{% endif %}

<div class="col-xs-6 signin">
    <h3>Connexion</h3>
    {% include "forms/signin.twig" %}
</div>
<div class="col-xs-6 signup">
    <h3>Inscription</h3>
    {% include "forms/signup.twig" %}
</div>


<div class="col">
</p><sup>1 : Minimum 6 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet and 1 Number.  </sup>  
</div>
</section>
{% endblock main %}

{% block javascript %}
{% endblock javascript %}

