{% extends "base/base_home.twig" %}

    {% block header %}
    	{% include "base/home_header_black.twig" %}
    {% endblock %}
    
    {% block stylesheet %}
     <link rel="stylesheet" href="/css/style_login.min.css">
{% endblock stylesheet %}
    
{% block main %}
<section class="container">
    <div class="row">&nbsp;</div>
                	{% if valueFail.length > 0 %}
            	<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>{{ valueFail }}</div>
            	{% endif %}
            	
<div class="col-xs-6 signin">
    <h3>Connexion</h3>
        	{% if connexionEchec.length > 0 %}
        	<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>{{ connexionEchec }}
    </div>
        	{% endif %}
    {% include "forms/signin.twig" %}
</div>
<div class="col-xs-6 signup">
    <h3>Inscription</h3>
    {% include "forms/signup.twig" %}
</div>


<div class="col">
</p><sup>1 : Minimum 6 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet and 1 Number.  </sup>  
</div>
</section>
{% endblock main %}

{% block javascript %}
{% endblock javascript %}

