{% extends "base/base.twig" %}

{% block main %}
<h1 style="color: black;">Erreur dans le payement</h1>

<a href="/cart/show"> Retour au panier .</a>

{% endblock %}


{% block javascript %}
    {{ parent() }}

{% endblock javascript %}