{% extends "base/base.twig" %}

{% block body %}
<h1 style="color: black;">Payement fait avec success</h1>

<a href="/"> Retour à la home .</a>

{% endblock %}


{% block javascript %}
    {{ parent() }}

{% endblock javascript %}