<section>
<div class="section green-background">
    <h3>En moyenne un français dépense<br> 254,37€ d'éléctricité par an</h3>
</div>

<div class="section" id="simulateur">
    <h3>Combien économiserez-vous avec Homii ? 
    <p id="simulateur-titre-4">&#x2192; Estimez la durée d’utilisation de vos appareils <br> &#x2192; Visualisez vos économies </p> </h3>
    <div class="row calcul">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="col-md-8">
            <div class="row active">
                <div class="col-md-3">
                    <img src="images/television.png" alt="">
                    <p>( télévision )</p>
                    <input type="text" id="tv"/>
                </div>
                <div class="col-md-3">
                    <img src="images/console.png" alt=""> 
                    <p>( consoles )</p>                 
                    <input type="text" id="console"/>
                </div>
                <div class="col-md-3">
                    <img src="images/pc.png" alt="">
                    <p>( ordinateur fixe )</p>
                    <input type="text" id="pc"/>
                </div>
                <div class="col-md-3">
                    <img src="images/laptop.png" alt="">
                    <p>( ordinateur portable )</p>
                    <input type="text" id="pc-portable"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="images/smartphone.png" alt="">
                    <p>( smartphone )</p>
                    <input type="text" id="smartphone"/>
                </div>
                <div class="col-md-3">
                    <img src="images/washing-machine.png" alt="">
                    <p>( machine à laver )</p>
                    <input type="text" id="machine-a-laver"/>
                </div>
                <div class="col-md-3">
                    <img src="images/dishwater.png" alt="">
                    <p>( lave vaiselle )</p>
                    <input type="text" id="lave-vaiselle"/>
                </div>
                <div class="col-md-3">
                    <img src="images/microwave.png" alt="">
                    <p>( micro-onde )</p>
                    <input type="text" id="micro-onde"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="images/coffee.png" alt="">
                    <p>( cafetière )</p>
                    <input type="text" id="cafetiere"/>
                </div>
                <div class="col-md-3">
                    <img src="images/cleaner.png" alt="">
                    <p>( aspirateur )</p>
                    <input type="text" id="aspirateur"/>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <div class="col-md-4">
            <div class="eco">
                <span>Grâce à Homii<br> économisez<br>chaque année</span>
                <div class="green-square">
                    <span id="result" maxlength="4"></span>
                    <span class="by-year"> €</span>
                </div>
            </div>
        </div>

    </div>


</div>
</section>