<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block meta_seo %}
        <meta property="og:image" content="/images/favicon.png" />
        <meta name="title" content="Homii Low tech - Spécialiste de l'autonomie énergétique">
    	<meta name="description" content="description de la page" />
    	<meta name="keywords" content="low tech, autonomie énergétique, énergies renouvelables, autoconsommation, homii, self-sufficiency, énergie verte, thermoélectricité, générateur, plug, énergie thermoélectrique">
        {% endblock meta_seo %}
    
    {% block title %}    <title>Homii - Solutions écologiques pour produire votre énergie</title> {% endblock title %}

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
       
        
		{% block stylesheet %}
		 <link rel="stylesheet" href="/css/style.css">
		 <link rel="stylesheet" href="/css/media-queries.css">
		{% endblock stylesheet %}
        <!-- Favicon  -->
        <link rel="shortcut icon" href="/images/favicon.png">

          {% include "google/analytic.twig" %}
        <script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
    </head>
    
    <body>
        
    {% block header %}
    	{% include "base/landing_header.twig" %}
    {% endblock %}
    <main>
    {% block main %}
    
    {% endblock %}
    </main>
    
    {% block footer %}
    	{% include "base/landing_footer.twig" %}
    {% endblock %}
    
    <script src="/js/bootstrap.min.js"></script>
    {% block javascript %}
    
    {% endblock javascript %}
    </body>