<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top {% block header_class %} {% endblock %}" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="nav-left">   
                    <a class="navbar-brand panier" href="#"></a>
                    <a class="navbar-brand compte" href="#"></a>
                </div>
                <a class="navbar-brand logo-n" href="/home">
                    <img src="/images/logo-w.png" height="100" alt="logo">
                </a>
                <div class="nav-r"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
               <!-- <a class="navbar-brand" href="#">
                    <img src="images/logo-w.png" height="100" alt="logo">
                </a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand logo-nav" href="/home">
                    <img src="/images/logo-w.png" height="100" alt="logo">
                </a>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/market">Notre produit</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#">Contact & Assistance</a></li>
                </ul>
                <div class="nav-right">   
                    <a class="navbar-brand panier" href="/cart/show" id="cart-link"><span class="badge">{% if sessionCart == true %}1{% endif %}</span></a></a>
                    <a class="navbar-brand compte" href="#"></a>
                </div>
            </div>
           <!-- <div class="col-lg-2 nav-right">
                <a class="navbar-brand panier" href="#"></a>
                <a class="navbar-brand compte" href="#"></a>
            </div>-->
            <!-- /.navbar-collapse -->
    </nav>