    <section id="footer">
        <footer>
            <!-- Page Content -->
            <div class="container">
                <!-- Footer -->
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="row">
                            <div class="col-lg-4 block">
                                <img class="logo"  src="/images/logo.png" height="60" alt="logo">
                            </div>
                            <div class="col-lg-8 block">
                                <p class="follow">Suivez-nous sur</p>
                                <ul class="follow-icon">
                                    <li><a href="#"><img src="/images/fb.png" alt=""></a></li>
                                    <li><a href="#"><img src="/images/tt.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <p>Greenletter   |   CGV   |   Mentions légales   |   Livraison</p>
                    </div>
                </div>
            </div>
        </footer>
    </section>