    <div class="header">
		<a class="logo" href="/">
			<img src="/images/logo-w.png" height="100" alt="logo">
		</a>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://www.facebook.com/homii.energie/" target="_blank"><img src="/images/fb-w.png" alt=""></a></li>
			<li><a href="https://twitter.com/Homii_Energie" target="_blank"><img src="/images/tt-w.png" alt=""></a></li>
		</ul>
	</div>