/**
* \file Server.js
* \brief 
* \date 25/06/2016
* \author AZOULAY Jordan 
*/
/*
body {
    font-family: Georgia;
}

label {
    font-size: 0.8rem;
    color: #9e9e9e;
}

input[type=text],
input[type=email],
input[type=password] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 90%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    margin-right: 18px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
    border-bottom:1px solid #4fc3f7 ;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 730px;
}

.col {
    float: left;
}

.signup,
.signin,
.infos-user,
.chat-partition {
    width: 49%;
}

div.notification {
    text-align: left;
    padding: 1px 100px;
    color: white;
    background-color: #f44336;
}

input.valid {
    border-bottom: 1px solid #66bb6a !important;
}

input.invalid {
    border-bottom: 1px solid #f44336 !important;
}

.chat {
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    width: auto;
    margin-bottom: 10px;
}

.message textarea {
    width: 60%;
    margin-right: 2%;
    float: left;
}

.message .send-message {
    width: 36%;
    height: auto;
    cursor: pointer;
}



button,
input[type='submit'] {
    border: none;
    color: white;
    background-color: #29b6f6;
    padding: 7px 7px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

button:hover,
input[type='submit']:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #4fc3f7;
}

form#form_logout input[type="submit"] {
    position: absolute;
    top: 0;
    right: 50%;
}*/


body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #89cc2d;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 36px;
    font-weight: 700;
    color: #5a4d45;
    line-height: 44px;
}

h3 {
	font-size: 22px;
    font-weight: 400;
    color: #5a4d45;
    line-height: 30px;
}

img { max-width: 100%; }


::-moz-selection { background: #89cc2d; color: #fff; text-shadow: none; }
::selection { background: #89cc2d; color: #fff; text-shadow: none; }



/***** Top menu *****/

ul.navbar-nav {
	font-size: 15px;
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}
nav{
	padding-top: 20px;
	margin-bottom: 100px;
}

.navbar-right img{
	width: 23px;
	height: auto;
}

/***** Top content *****/

.top-content {background:url(../images/backgrounds/bg-newsletter.jpg); min-height: 100vh;background-size: cover;}

.top-content .text { color: #fff; padding-left: 40px;}
.top-content .text h1 { color: #fff; }

.top-content .description { margin: 10px 0 20px 0; }
.top-content .description p {     opacity: 0.8;
    margin-bottom: 40px;
    line-height: 1.6;
    font-size: 18px;letter-spacing: 1.7px; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }

.subscribe { position: relative; color: #fff; }
.subscribe .success-message { display: none; opacity: 0.8; }
.subscribe .error-message { display: none; position: absolute; left: 0; bottom: -60px; width: 100%; opacity: 0.8; }

.subscribe input[type="text"] {
	width: 360px;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.subscribe input[type="text"]:focus {
	outline: 0; background: #fff; border: 3px solid #89cc2d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.subscribe input[type="text"]::-moz-placeholder { color: #888; }
.subscribe input[type="text"]:-ms-input-placeholder { color: #888; }
.subscribe input[type="text"]::-webkit-input-placeholder { color: #888; }

.subscribe button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #56bf41;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.subscribe button.btn:hover { opacity: 0.6; color: #fff; }
.subscribe button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.subscribe button.btn:focus { outline: 0; opacity: 0.6; background: #89cc2d; color: #fff; }
.subscribe button.btn:active:focus, .subscribe button.btn.active:focus { outline: 0; opacity: 0.6; background: #89cc2d; color: #fff; }

.subscribe button i { padding-left: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }


.logo img{
	height: 50px;
	width: auto;
}

h4{
	font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    line-height: 1.7;
    font-weight: 300;
}

/***** Top content LEFT PART *****/

.logo-left {
    text-align: center;
    margin-top: calc(100vh/6);
}