
body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #6bdd53;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

video{
    width: 100%;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    font-size: 35px;
    color: #fff;  
}

h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #6bdd53;   
}

h3{
    font-size: 22px;
    text-transform: uppercase;
    color: #6bdd53;
}
h3.low{
    font-size: 22px;
    text-transform: none;
}

h4{

}

h5{

}

h6{

}

.white{
    color: #fff;
}
hr.sep{
    border: 4px solid #000;
    width: 40px;
}
#newsletter .sep{
    border: 4px solid #6bdd53;
    width: 50px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
#banner .sep{
    border: 4px solid #6bdd53;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
img { max-width: 100%; }

section{
    text-align: center;
    padding:40px 0 60px;
}

.header {
    position: absolute;
    width: 100%;
    padding:20px 20px;
}


/*  */
::-moz-selection { background: #6bdd53; color: #fff; text-shadow: none; }
::selection { background: #6bdd53; color: #fff; text-shadow: none; }



/***** Top menu *****/

ul.navbar-nav {
	font-size: 15px;
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}
nav{
	padding-top: 20px;
	margin-bottom: 100px;
}

.navbar-right img{
	width: 23px;
	height: auto;
}

/***** Top content *****/


.top-content .text { color: #fff; padding-left: 40px;}



.top-content .description { margin: 10px 0 20px 0; }
.top-content .description p {  
    margin-bottom: 40px;
    line-height: 1.6;letter-spacing: 1.7px; color: #fff;}
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }

.subscribe { position: relative; color: #fff; }
.subscribe .success-message { display: none; opacity: 0.8; }
.subscribe .error-message { display: none; position: absolute; left: 0; bottom: -60px; width: 100%; opacity: 0.8; }

.subscribe input[type="text"],input[type="text"] {
	width: 360px;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.subscribe input[type="text"]:focus {
	outline: 0; background: #fff; border: 3px solid #6bdd53;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.subscribe input[type="text"]::-moz-placeholder { color: #888; }
.subscribe input[type="text"]:-ms-input-placeholder { color: #888; }
.subscribe input[type="text"]::-webkit-input-placeholder { color: #888; }

.subscribe button.btn,button{
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.subscribe button.btn {
    background: #6bdd53;
    border: 0;
}
#description button {
    background: #fff;
    border: 1px solid #6bdd53;
    color: #6bdd53;
    width: 100%;
}
.subscribe button.btn:hover { opacity: 0.6; color: #fff; }
.subscribe button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.subscribe button.btn:focus { outline: 0; opacity: 0.6; background: #6bdd53; color: #fff; }
.subscribe button.btn:active:focus, .subscribe button.btn.active:focus { outline: 0; opacity: 0.6; background: #6bdd53; color: #fff; }

.subscribe button i { padding-left: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }


.logo img{
	height: 50px;
	width: auto;
}

h4{
	font-family: "Century Gothic", sans-serif;
    font-size: 24px;
    line-height: 1.7;
    font-weight: 300;
}

/***** Top content LEFT PART *****/

.logo-left {
    text-align: center;
    margin-top: calc(100vh/6);
}


/***** Carousel *****/
#myCarousel{
    min-height: 100vh;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      min-height: 100vh;
  }
.slide{
    background-size: cover;
    background-repeat: no-repeat;
}
.slide1{
    background-image: url(../images/slides/slide1.jpg);
}
.slide2{
    background-image: url(../images/slides/slide2.jpg);
}
.slide3{
    background-image: url(../images/slides/slide3.jpg);
}

.kit img{
    height: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}


.kit {
    padding: 0 90px;
}

/* Banner */

section#banner{
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
}
.banner-title{
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}
.banner-title h1{
    width: 21%;
    margin-left: auto;
    margin-right: auto;
}
.banner-txt {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 24%;
    font-size: 18px;
}
.banner-txt-down{
    color: #6bdd53;
    margin-left: auto;
    margin-right: auto;
}
.banner-title img {
    width: 20px;
}


/* Simulation */

section#simulation{
    background-color: #6bdd53;
}

/* Newsletter */

section#newsletter{
    text-align: left;
    background:url(../images/backgrounds/newsletter.jpg); min-height: 100vh;background-size: cover;
}
.top-content {
    margin-top: 20vh;
}

/* Footer */

footer{
    background-color: #0d1417;
    margin-top: 60px;
    padding: 40px 40px;
    -webkit-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 10px 9px -5px rgba(0,0,0,0.75);
}

ul.follow-icon
{
    list-style: none;
}

ul.follow-icon img
{
    width: 23px;
    height: auto;
}