{% extends "base/base.twig" %}

        
    {% block stylesheet %}
     <link rel="stylesheet" href="/css/style_home.css">
    {% endblock stylesheet %}
    
    {% block header %}
    	{% include "base/home_header.twig" %}
    {% endblock %}

    {% block main %}
    
    <section>
        <article>
            
        </article>
    </section>
    
    
    {% endblock main %}

    {% block footer %}
    	{% include "base/home_footer.twig" %}
    {% endblock %}