{% extends "tunnel/base.twig" %}


{% block container_tunnel %}
    <div class="row">
	        <div class="col-sm-12 ">
                <h2>Erreur sur la commande</h2>
        		<p>Votre commande a été annulé .</p>
        		<br><br>
        		<a href="/market"><button class="btn send">Retour au market</button></a>
            </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
 {#  <script src="/js/cart.module.js" type="text/javascript" ></script> #}
{% endblock javascript %}
