{% extends "tunnel/base.twig" %}


{% block container_tunnel %}
    <div class="row">
        <div class="col-sm-12 ">
            <h2>Votre identifiant</h2>
                	{% if valueFail.length > 0 %}
            	<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>{{ valueFail }}</div>
            	{% endif %}
        </div>
    </div>
    <div class="row">
        {% if isUser == false %}
            {% include "forms/login_tunnel.twig" %}
            {% include "forms/inscription_tunnel.twig" %}
            <br />
            <div class="col-sm-12">
               <sup>* Minimum 6 caractères au moins 1  en majuscules, 1  en minuscules et 1 numéro.  </sup>  
            </div>
        {% else %}
        <div class="col-xs-12">
            <p>Vous êtes connecté en tant que : <b>{{ user.local.email }}</b></p>
            <a href="/order/step/2">Passer à l'étape suivante</a><br>
            <a href="/order/cancel">Annuler la commande .</a>
        </div>
        {% endif %}
        
    </div>
{% endblock %}