<form class="col-xs-8" id='form_add_product' encType="multipart/form-data" method="post">
  <div class="form-group">
    <label for="product_name">Nom du produit</label>
    <input type="text" class="form-control" id="product_name" name="product_name" required>
  </div>
  <div class="form-group">
    <label for="product_file">Image</label>
    <input type="file" id="product_file" name="product_file" accept="image/x-png, image/jpeg, image/bmp" max-size='32154' required>
   {# <p class="help-block">Example block-level help text here.</p> #}
  </div>
  
    <div class="form-group">
    <label for="product_description">Déscription</label>
    <textarea class="form-control" id="product_description" name="product_description" required>
    </textarea>
  </div>

  <button type="submit" class="btn btn-default">Enregistrer</button>
</form>