<form  method="POST" action>
    <div class="col-sm-4 col-sm-offset-4">
    	<input name="radiog_dark" id="madame" class="css-checkbox" type="radio">
    	<label for="madame" class="css-label radGroup2">Madame</label>
    	<input name="radiog_dark" id="monsieur" class="css-checkbox" type="radio">
    	<label for="monsieur" class="css-label radGroup2">Monsieur</label>
    	<input placeholder="nom" id="name" name="name" type="text" required>
    	<input placeholder="prénom" name="last_name" type="text" required>
    	<input placeholder="rue" type="text" name="rue" required>
    	<input placeholder="ville" name="ville" type="text" required>
    	<input placeholder="code postal" type="text" name="code_postal" required>
    	<input placeholder="pays" type="text" name="pays" required>
    	<textarea placeholder="infos supplémentaires" name="complement"></textarea>
    	<input type="hidden" name="token" />
    	<a href="/order/cancel" ><button type="button" class="btn send">Annuler</button></a>
    	<button type="submit" class="btn send">suivant</button>
      
    </div>
</form>