<form action method="POST">
    <div class="form-group">
    <input type="name_paypal" class="form-control" id="name_paypal" name="name_paypal" placeholder="Nom">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="number_card_paypal" name="number_card_paypal" placeholder="Numéro de carte">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="date_month_paypal" name="date_month_paypal" placeholder="Moi d'expiration">
    <input type="text" class="form-control" id="date_year_paypal" name="date_year_paypal" placeholder="Année d'expiration">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="cvv_paypal" name="cvv_paypal" placeholder="CVC">
  </div>
  <button type="submit" class="btn btn-default">Payer</button>
    
</form>