<div class="col-sm-4 col-sm-offset-2">
    <form id="form_signup" action="/signup" method="POST" >
    	<h3>Nouveau client ?</h3>
    		<input placeholder="nom" type="text" id="name" name="name" autocomplete="off">
    		<input placeholder="mail"  name="email" type="email">
    		<input placeholder="mot de passe *"   name="password" type="password" >
    		<input placeholder="confirmer mot de passe *" id="password_again" type="password">
    		<button type="submit" class="btn send">créer</button>
	</form>
</div>