<form id="form_create_kit" action="" method="POST">
    <input type="text" name="titre" placeholder="titre du kit" />
    <input type="text" name="price" placeholder="prix du kit" />
    Déscriptions :
    <textarea name="informations" >
        </textarea>
    <input type="hidden" name="token" />
    <input type="submit" value="Enregistrer" />
    
</form>