<form class="form-inline" role="form" action="" method="POST" id="form_news_letter">
	<div class="form-group">
		<label class="sr-only" for="subscribe-email">Email address</label>
    	<input type="text" id="news-letter-email" name="email_newsletter" placeholder="entrez votre adresse mail" class="subscribe-email form-control" >
    </div>
    <input type="hidden" name="token" />
    <button type="submit" class="btn">envoyer<i class="fa fa-angle-right"></i></button>
   {% if error == "emailInvalide" %} <p id="" class=""> Veuillez saisir une adresse email valide .  </p> 
   {% elseif error == "emailExist" %} <p> Cette adresse mail est déjà inscrite à la newsletter .</p>
   {% endif %}
   {% if valid == "emailSaved" %} <p> Votre email a bien été enregistré .</p> {% endif %}
</form>
