<form class="form-inline" role="form" action="" method="POST" id="form_news_letter">
	<div class="form-group">
		<label class="sr-only" for="subscribe-email">Email address</label>
    	<input type="text" id="news-letter-email" name="email" placeholder="entrez votre adresse mail" class="subscribe-email form-control" >
    </div>
    <input type="hidden" name="token" />
    <button type="submit" class="btn">envoyer<i class="fa fa-angle-right"></i></button>
    <p id="message-error" class="hidden"> Veuillez saisir une adresse email valide .  </p>
</form>